.circle-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.text1 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button-base,
.sizemd-hierarchyprimary-ic {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
}
.button-base {
  background-color: var(--primary-600);
  box-shadow: var(--shadow-xs);
  border: 1px solid var(--primary-600);
  overflow: hidden;
  padding: var(--padding-3xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.sizemd-hierarchyprimary-ic {
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-sm-semibold-size);
  color: var(--white);
  font-family: var(--text-sm-semibold);
}
